body {
    padding-top: 50px;
    background: url(https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    
}



.FullPageColor {
    color: #d9dde2;
}
.container {
    padding-top: 25px;
    padding-bottom: 50px;
    
}


.blacktxt{
    color:black;
}

.sizing-img {
      background-size:cover;
}
.icon {
    height: 56px;
    width: 56px;
}

.menu-text {
    text-shadow: 3px 3px 20px #ffffff;
    text-align:center;
}

.RedLight {
    color: red;
   
}

.StJoseph{
    color:#0070C0;
}

.PreciousBlood {
  color:  #9a58dc;
}


.XmasMasses {
  color:forestgreen;
}

.cover-letter {
    text-align:center;
    color:azure;
    text-shadow: 20px 20px 10px #000000;
    text-decoration:double;
}
.jumbotron {
    margin-bottom:20px;
    background: url(../images/ConfBP.jpg) no-repeat;
    background-size: cover;
    background-position:center;
    
    
}


.nav {
    padding-top:15px;
}

#logo {
    padding: 10px;
    margin-top: -5px;
   }

.advertisemagnets{
    color:#ff342b;
   
  }


.banners{
    padding:10px;
    margin-top: 30px;
}

#navbar{
    padding-bottom:5px;
}

.img-fluid {
    
    width: 1200px;
}

.galleryimg {
  width:113px ;
  height:150px;
}

.img-xmascard{
    padding-bottom:15px;
  
}

